@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Forum&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
  --base-font:'Poppins', sans-serif;
  --bg-color-primary:#AD49E1;
  --bg-color-secondary:#EBD3F8;
  --font-color-primary:#ffffff;
  --font-color-secondary:#181510;
}
.p__text{
  font-family: var(--base-font);
  color: var(--font-color-primary);
  
}

.section__padding{
  padding: 2rem 4rem;
}