.app__main-title-center p{
  font-family: var(--heading-font); /* replace with your heading font, e.g., Poppins */
  font-size: 3.5rem; /* text-4xl ~ 2.25rem, adjusting slightly bigger for emphasis */
  font-weight: 700; /* font-bold */
  color: #d18f4b; /* text-brand-warm */
  letter-spacing: -0.5px; /* tracking-tight */
  line-height: 1.2; /* leading-tight */
  margin-bottom: 1rem;
}
.app__main-title-left p{
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1rem;
  font-family: var(--base-font);
}
.app__main-title-right p{
  font-weight: bold;
  font-size: 2rem;
  text-align: right;
  margin-bottom: 1rem;
  font-family: var(--base-font);
}
.app__main-title-Yellow{
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1rem;
  font-family: var(--base-font);
  color: var(--bg-color-primary);
  margin-top: -1.2rem;
}

@media screen and (max-width:650px) {
  .app__main-title-right p,.app__main-title-left p,.app__main-title-center p ,.app__main-title-Yellow p{
    text-align: center;
    font-size: 1.6rem;
    margin-bottom:1rem;
  }
}