.contact-container {
  display: flex;
  gap: 20px;
  padding: 0 20px;
  margin-bottom: 4rem;
  font-family: var(--base-font);
  
}

.form-container {
  flex: 1;
  background-color: var(--bg-color-trinary);
  padding:20px;
  border-radius: 8px;
}

.form-container h2 {
  margin-bottom: 15px;
  color: #000;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-container textarea {
  height: 200px;
  resize: none;
}

.form-container button {
  background-color: var(--font-color-secondary);
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-weight:600;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--base-font);
}

.form-container button:hover {
  background-color: #ffcc33;
}

.map-container {
  flex: 1;
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
}


@media screen and (max-width: 650px) {
  .contact-container {
    flex-direction: column;
  }
}