.app__footer-main_div {
  background-color: var(--bg-color-primary);
  font-family: var(--base-font);
  color: var(--font-color-secondary);
  padding: 2rem 4rem 0 4rem;
  width: 100%;
}
.app__footer-upper-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.app__footer-upper-elements img {
  width: 130px;
}
.app__footer-upper-elements .description {
  margin-top: 1rem;
  line-height: 2rem;
  opacity: 0.8;
}
.app__footer-upper-elements {
  width: 300px;
}
.app__footer-upper-elements .social-media {
  display: flex;
}
.app__footer-upper-elements .social-media-icon-div {
  margin: 1rem 1rem 1rem 0;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  cursor: pointer;
}
.social-media-icon-div img {
  width: 30px;
}

.app__footer-upper-elements .footer-title {
  font-size: 1.2rem;
  margin: 1rem 0;
  font-weight: 600;
}

.links a {
  font-size: 1rem;
}
.app__footer-upper-elements .Info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem 0;
  font-size: 1rem;
}

.app__footer-lower-section {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
  color: var(--font-color-secondary);
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
.app__footer-lower-section a {
  margin-left: 2rem;
}
.footer-line {
  height: 2px;
  background-color: var(--font-color-secondary);
  margin-top: 0.5rem;
}
.lower-section-p1 {
  text-align: left;
  flex: 1;
}
@media screen and (max-width: 1440px) {
  .app__footer-upper-elements {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 850px) {
  .app__footer-lower-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .app__footer-lower-section div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .app__footer-lower-section a {
    margin-left: 0rem;
  }
}
