.app__contactUs--details-div{
  background-color: var(--bg-color-primary);
  margin: 8rem 0 4rem 0;
  padding-bottom: 2rem;;
}
.app_contactUs-details-section{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color-primary);
  padding: 0 2rem;
  gap: 50px;
  flex-wrap: wrap;
}
.details-item{
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
  width: 300px;
  height: 170px;
  border-radius: 20px;
  padding: 1rem;
  margin-top: -4rem;
  margin-bottom: 2rem;
}
.details-icon{
  justify-content: flex-start;
}

.details-type{
  font-size: 1.5rem;
  font-weight: 600;
}
.details-type-value{
  font-size: 0.9rem;
}
