.app__description p{
  font-size: 1rem;
  opacity: 0.6;
  margin-bottom: 2rem ;
  text-align: center;
}
.app__description-left p{
  font-size: 1.2rem; /* slightly larger */
  color: #4b4b4b; /* better contrast on dark bg */
  line-height: 1.6; /* improves readability */
  margin-bottom: 1.5rem;
}
.app__description-right{
  font-size: 1rem;
  opacity: 0.6;
  margin-bottom: 2rem ;
  text-align:right;
}
@media screen and (max-width:1050px){
  .app__description p{
    text-align: left;
  }
}
@media screen and (max-width:650px) {
  .app__description p{
    font-size:0.8rem;
    opacity: 0.6;
    margin-bottom: 1rem ;
  }
  .app__description-left p , .app__description-right p{
    text-align: center;
  }
}