.app__herobanner--main-div{
  position: relative;
}
.app__herobanner--img{
  width: 100%;
  height: 40rem;
  position: relative;
  overflow: hidden;
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  object-fit: contain;
  opacity: 1;
}

.app__herobanner--details{
  width: 100%;
  text-align: center;
  color: var(--font-color-primary);
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__herobanner--details div{
  width: 80%;

}
.herobanner__title{
  font-size: 3.5rem;
  font-weight: bold;
}
.herobanner__title2{
  font-size: 7rem;
  font-weight: 400;
}

.herobanner_description{
  font-size: 1.2rem;
}

@media screen and (max-width:650px) {
  
  .herobanner__title{
    font-size: 3rem;
  }

  .herobanner__title2{
    font-size: 5.5rem;

  }
}
@media screen and (max-width:450px) {s
  .herobanner__title{
    font-size: 2.3rem;
    text-align: center;
  }
  .herobanner_description{
    font-size: 1rem;
    text-align: center;
  }
  .herobanner__title2{
    font-size: 4rem;

  }
}