.app__searchBar{
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 0 1rem;
  margin-top: 1rem;
}
.app__searchBar .app__searchBar--input{
  padding:0.5rem;
  border: none;
  width: 100%;
  outline: none;
}
