.app__signup-form-main-div {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: var(--base-font);
  padding-right: 8rem;
}
.app__signup-form-main-div2 {
  width: 50%;
  padding:1rem 0 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app__signup-form-main-div2 form {
  width: 100%;
  height: 100%;
}
.have-account-section{
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  margin-top:0.7rem;
  margin-bottom: 1.5rem;
}
.signup-break-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.signup-break-section p{
  margin: 0 0.5rem;
}
.signup-break-section div{
  height: 2px;
  background-color: var(--font-color-secondary);
  width: 40%;
  opacity: 0.5;
}
.app__signup-form-section {
  width: 100%;
  margin-bottom: 1rem; 
  display: flex;
  flex-direction: column;
}
.form-title-description{
  font-size: 1rem;
  opacity: 0.6;
  margin-top: -1rem;
}
.app__signup-img-section {
  width: 55%;
}
.app__signup-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__signup-text {
  text-align: left;
  width: 100%;
  margin: 0 0 10px 0;
}
.app__signup-form{
  margin-top:2rem;
}
.app__signup-text2 {
  color: yellow;
  text-align: left;
  width: 100%;
  margin: 0 0 10px 0;
}
.app__signup-form-section label{
  font-weight:500;
}
.signup-signin-button {
  padding: 5px 15px;
  font-size: 14px; 
  margin-left: 1rem;
}
.signup-login-button {
  margin-top: 1rem;
  text-align: left;
  width: auto;
}
.app__inputField-main-div-input {
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  outline: none;
  border-radius: 10px;
  margin-top: 0.5rem;
  border: 2px solid var(--bg-color-primary);
}
.app__inputField-main-div {
  width: 100%;
}
.app__label-main-div {
  margin-top: 1rem;
}

@media screen and (max-width:1050px) {
  .app__signup-img{
    display: none ;
  }
  .app__signup-img-section{
    width: 0;
  }
  .app__signup-form-main-div2{
    width: 80%;
    padding: 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .app__signup-form-main-div{
    padding-right: 0;
  }
  .form-title-description{
    font-weight: 0.8rem;
  }
}
@media screen and (max-width:650px) {
  .form-title-description{
    text-align: center;
    font-weight: 0.7rem;
  }
}
